* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    text-align: center;
}
nav {
  height: 80px;
}
.main-gears {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gears-box {
  width: 800px;
  margin-left: -230px;
}
.icon-text {
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-size: 1.2em;
  margin-left: 110px;
  margin-right: 110px;
  height: 170px;
  top: -285px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-text {
  font-weight: 700;
}
.icon-text:hover {
  cursor: pointer;
}
.strategic-box {
  margin: 0 auto;
  width: 400px;
}
.missionary-box {
   width: 400px;
   position: relative;
   top: -200px;
   left: 100px;
}
.admin-box {
  width: 400px;
  position: relative;
  top: -665px;
  left: 465px;
}
.finance-box {
   width: 400px;
   position: relative;
   top: -1600px;
   left: 565px;
}
.strategic-icon {
  color: rgb(10, 13, 185);
}
.missionary-icon {
  color: green;
}
.admin-icon {
  color: rgb(189,39,36);
}
.finance-icon {
  color: rgb(64,64,64,.8);
}
.box-message-hidden {
  display: none;
}
.box-message-visible {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: rgb(0,0,0, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.strategic-message {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.cerrar-box {
  font-size: 1.5em;
  font-weight: 700;
  position: relative;
  left: 370px;
  cursor: pointer;
}
.animation-forward {
  font-size: 25em;
  animation-name: rotate-forward;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
}
.animation-back {
  font-size: 25em;
  animation-name: rotate-back;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
}
@keyframes rotate-forward {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}
@keyframes rotate-back {
  from {
      transform: rotate(360deg);
  } to {
      transform: rotate(0deg);
  }
}
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }