* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1, h2 {
    text-align: center;
}
nav {
  height: 80px;
}
.box-in-out {
  width: 180px;
  height: 735px;
  background-color: rgb(64,64,64);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.entradas {
  position: absolute;
}
.salidas {
  position: relative;
  top: -1170px;
  left: 1350px; 
}
.arrow-forward-1 {
  position: absolute;
  color: rgb(64,64,64);
  top: 330px;
  margin-left: 190px;
  font-size: 12em;
  z-index: -5;
}
.arrow-forward-2 {
  color: rgb(64,64,64);
  float: right;
  margin-top: -900px;
  margin-right: 180px;
  font-size: 12em;
}
.main-gears {
  width: 100%;
  display: flex;
  justify-content: center;
}
.gears-box {
  width: 1530px;
  height: 736px;
  /* border-bottom: 20px solid rgb(48,48,48); */
}
.missionary-box {
  width: 450px;
  height: 450px;
  position: relative;
  top: 70px;
  left: 520px;
}
.strategic-box {
  position: relative;
  top: -65px;
  left: -285px;
  margin: 0 auto;
  width: 358px;
  height: 360px;
}
.admin-box {
  width: 400px;
  position: relative;
  top: -425px;
  left: 835px;
  width: 355px;
  height: 360px;
}
.icon-text {
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-size: 1.2em;
  top: -248px;
  left: 104px;
  height: 144px;
  width: 144px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(64,64,64);
}
.icon-text-missionary {
  height: 183px;
  width: 183px;
  top: -315px;
  left: 132px;
}
.icon-text:hover {
  background-color: #bee3f0e6;
}
.icon-text:hover .icon-click {
  color: #077e90;
}
.icon-click {
  font-size: 2.5em;
  position: relative;
  color: rgb(161, 168, 32);
  top: 10px;
}
.icon-click-missionary {
  font-size: 3.5em;
  top: 10px;
}
.icon-click:hover {
  color: #17a2b8;
}
.icon-text-apoyo {
  top: -250px;
}
.center-text {
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
  position: relative;
  top: 10px;
}
.center-text-missionary {
  top: 25px;
}
.icon-text:hover {
  cursor: pointer;
}


/* .finance-box {
   width: 400px;
   position: relative;
   top: -1600px;
   left: 565px;
} */
.strategic-icon {
  color: #0d47a1;
}
.missionary-icon {
  color: #007E33
}
.admin-icon {
  color: rgb(189,39,36);
}
.finance-icon {
  color: FF8800;
}
.animation-forward {
  font-size: 25em;
  animation-name: rotate-forward;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
}
.animation-back-missionary {
  font-size: 28em;
  animation-name: rotate-back;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
}
.animation-forward {
  font-size: 22em;
  animation-name: rotate-forward;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
}
.btn-subprocesos {
  background-color: #33b5e5;
  color: white;
  border: none;
  font-size: .7em;
  padding: 7px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}
.btn-subprocesos:hover  {
  cursor: pointer;
  background-color: #0e8ebd;
  font-size: 1.1em;
}

/* Interactive */


.box-message-hidden {
  display: none;
}
.box-message-visible {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: rgb(0,0,0, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.missionary-message {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.strategic-message {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.apoyo-message {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.missionary-message-box {
  display: none;
}
.strategic-message-box {
  display: none;
}
.apoyo-message-box {
  display: none;
}
.missionary-message-hidden {
  display: none;
}
.strategic-message-hidden {
  display: none;
}
.apoyo-message-hidden {
  display: none;
}
.cerrar-box {
  font-size: 1.7em;
  font-weight: 700;
  position: relative;
  left: 460px;
  cursor: pointer;
}
.missionary-message {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.main-box-sub {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.box-sub {
  width: 200px;
  height: 60px;
  background-color: goldenrod;
  border-radius: 12px;
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  /* margin-left: 15px;
  margin-top: 15px; */
}
@media only screen and (max-width: 1550px) {
  .gears-box {
    width: 1100px;
    /* border-bottom: 20px solid rgb(48,48,48); */
  }
  .box-in-out {
    width: 160px;
    height: 650px;
  }
  .salidas {
    position: relative;
    top: -870px;
    left: 940px; 
  }
  .arrow-forward-1 {
    position: absolute;
    color: rgb(64,64,64);
    top: 340px;
    margin-left: 163px;
    font-size: 5em;
  }
  .arrow-forward-2 {
    float: right;
    margin-top: -570px;
    margin-right: 160px;
    font-size: 5em;
  }
  .missionary-box {
    width: 330px;
    height: 330px;
    position: relative;
    top: 70px;
    left: 370px;
  }
  .strategic-box {
    position: relative;
    top: -22px;
    left: -208px;
    margin: 0 auto;
    width: 260px;
    height: 260px;
  }
  .admin-box {
    position: relative;
    top: -282px;
    left: 610px;
    width: 260px;
    height: 260px;
  }
  .icon-text {
    font-size: .9em;
    top: -180px;
    left: 74px;
    height: 107px;
    width: 107px;
    border-radius: 200px;
  }
  .icon-text-missionary {
    font-size: 1.1em;
    top: -237px;
    left: 99px;
    height: 138px;
    width: 138px;
    border-radius: 200px;
  }
  .icon-click {
    font-size: 2.5em;
    position: relative;
    color: rgb(161, 168, 32);
    top: 10px;
  }
  .icon-click-missionary {
    font-size: 3em;
  }
  .animation-forward {
    font-size: 19em;
    animation-name: rotate-forward;
  }
  .animation-back-missionary {
    font-size: 21em;
    animation-name: rotate-back;
  }
  .animation-forward {
    font-size: 16em;
  }
}
@keyframes rotate-forward {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}
@keyframes rotate-back {
  from {
      transform: rotate(360deg);
  } to {
      transform: rotate(0deg);
  }
}
/*  */
/* Tabla Plan de Acción */
/*  */
.box-table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(64,64,64);
  font-weight: 500;
  font-size: .9em;
}
.plan-table {
  width: 900px;
  border-collapse: collapse;
}
th {
  background-color: rgb(24,24,24,.9);
  color: white;
  font-weight: 400;
}
th, td {
  border: 1px solid rgb(64,64,64);
  padding: 8px;
  text-align: center;
}
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }